// functionPanel setting   ------------------------
.functionPanel {
  margin: 2em 0;
  // padding: .5em 0 .5em;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.938rem;
  @include screen('mobile') {
    margin: 0.6em 0;
    padding: 0.5em 0 0.5em;
  }
  .share {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .function {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .publishTime {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: 100px;
    display: block;
    color: #555;
    span {
      @include screen('mobile') {
        display: none;
      }
    }
    time {
      font-family: georgia;
      font-size: 1.125em;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      top: 0.3em;
      margin-right: 5px;
      background: url(../images/basic/icon_time.svg) no-repeat center center;
      background-size: 12px;
    }
  }
}

//可自訂顏色，或是自帶既有變數，但請注意背景色與字的對比度
//icon基本設定
%functionBefore {
  vertical-align: middle;
  content: '';
  // width: 1.2em;
  // height: 1.2em;
  // margin-right: 0.5em;
  // display: inline-block;
}
.function {
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  ul {
    @include liReset;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    li {
      margin: 0 0.2em;
      flex: 0 0 32px;
      button,
      a {
        display: block;
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        line-height: 48px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #c3c3c3;
        text-indent: -9999px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 48px;
          height: 48px;
          top: 0;
          left: 0;
          opacity: .5;
        }
        &:hover,
        &:focus-visible {
          // background: darken($aHover, 0);
          background: #f0f0f0;
          &:before {
            content: '';
            position: absolute;
            width: 48px;
            height: 48px;
            top: 0;
            left: 0;
            opacity: 1;
          }
        }
      }
      // 回上一頁
      &.icon_back {
        a:before {
          @extend %functionBefore;
          background: url(../images/icon_arrow2.svg) no-repeat center center;
          transform: rotate(180deg) translateX(3px);
          background-size: 12px;
        }
      }
      // 友善列印
      &.icon_print {
        a:before {
          @extend %functionBefore;
          background: url(../images/icon_print.svg) no-repeat center center;
          background-size: 24px;
        }
      }
      // 轉寄友人
      &.icon_forward {
        a:before {
          @extend %functionBefore;
          background: url(../images/icon_mail.svg) no-repeat center center;
          background-size: 26px;
        }
      }
    }
  }
}
// share 基本樣式
.share {
  box-sizing: border-box;
  margin: 0.5em 0;
  ul {
    @include liReset;
    display: flex;
    li {
      // margin: 0px 3px 3px;
      padding: 4px;
      flex: 0 0 40px;
      a {
        display: block;
        height: 32px;
      }
      @include screen('tablet') {
        margin: 0px 1px 2px;
        width: 32px;
        height: 32px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 放進functionPanel樣式
.functionPanel {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  .share,
  .function{ flex: 1 1 50%; }
  @include screen('mobile') {
    .share,
    .function{ flex: 1 1 100%; }
  }
}

// 放進functionPanel樣式